@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

span{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0px 10px;
}

div {
    text-align: center;    
}
select,
input {
    border-radius: 5px;
}
h1 {
    text-align: center;
}

.carton {
    border: 7px solid #000;
    border-radius: 4px;                 
    width:15%;
    margin-bottom: 3%;
    display: inline-block;
    margin: 10px;
    background-color: mediumorchid;
}
form {
    text-align: center;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}



