@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/bg.jpg');
    background-size: 100%; 
    background-repeat: no-repeat;
    background-color: #1e252d;; 
    background-attachment: fixed;
}

h1 {
    color: #fff;
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    letter-spacing: 0.1em;
    font-weight: 800;
    margin: 0 0 2rem 0;
    font-size: 4.5rem;
    padding-top: 120px;
    line-height: 1;
}

p.intro {
    color: #fff;
    vertical-align: baseline;
    text-align: center;
    line-height: 2em;
    font-family: 'Merriweather', Georgia, serif;
    font-style: italic;
    font-size: 1.1em;
}
p.intro a {
    color: #fff;
    border-bottom: dotted 1px;
    text-decoration: none;
}
p.intro a:hover {
    color: darkturquoise;
    border-bottom: none;
}

.clear{
    clear: both;
} 

header #massively {
    display: block;
    text-align: center;
    width: 50%;
    padding-top: 30px;
    margin: auto;
}

header #massively i {
    color: #fff;
    font-size: 1.9em;
}

header #massively i:hover {
    color: darkturquoise;
}

/*



h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", Georgia, serif;
header
{width:80%; margin:auto; display: block}


header h1, p {
    text-align: center; 
    color: #ffffff;
    font-family: "Merriweather", Georgia, serif;
    font-style: italic;
}

header h1 
{font-size: 6em; line-height: 1; font-weight: bolder}

header p
{font-size: 1.5em}

header p a{
    text-decoration: underline;
    text-decoration-style: dotted;
    color: #ffffff;
}

header #massively
{color: #ffffff; text-align: center;}

header #massively a{
    text-decoration: none;
}

header #barra_navegacion
{display: block; padding:2%; background-color: rgba(255,255,255,0.17);}

header #barra_links
{float:left; list-style: none}

header #barra_social{
    float: right;
    list-style: none;
}

header nav #barra_social li, #barra_links li
{display: inline-block}

/*header #barra_navegacion #barra_links li a
{display: block; box-sizing: border-box; padding: 10px; color:#ffffff; font-weight: bold; font-size: 1.2em}

header #barra_navegacion #barra_links li a
{background-color: #505050}*/

