@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
    margin:
    0px; 
    padding:0px
}
h1 {
    text-align: center;
}
#contenedor {
    background-color: blanchedalmond; 
    margin: 2% auto; 
    display: flex; 
    width:80%; 
    flex-wrap: wrap; 
    justify-content: center;
}

header p {
    font-family: 'Source Sans Pro', sans-serif; 
    text-align: center; 
    font-size: 50px; 
    font-style: italic; 
    text-decoration: underline
}

#contenedor div {
    width:50%; 
    padding:3px; 
    align-items: center;
    box-sizing: border-box
}

#contenedor div:nth-child(-n+2) {
    border-top: 2px solid blueviolet
}

#contenedor div {
    border-bottom:2px solid blueviolet
}

#contenedor div:nth-child(even) { 
    border-left: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
 }

#contenedor div:nth-child(odd) {
    border-left: 2px solid blueviolet; 
}

#contenedor div img {
    width: 100%;
}